/* TEMPLATE STYLES */

/* Necessary for full page carousel*/

html,
body {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

/* Navigation*/

.navbar-carousel {
    background-color: transparent;
}

.navbar-pages {
    background-color: #d32f2f;
}

.top-nav-collapse {
    background-color: #d32f2f;
}

footer.page-footer {
    background-color: #d32f2f;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #d32f2f;
    }
}

/* Carousel*/

.carousel {
    height: 50%;
}

@media (max-width: 776px) {
    .carousel {
        height: 100%;
    }
}

.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item:nth-child(1) {
    background-image: url("../img/carousel/mikmak.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
}

.carousel-item:nth-child(2) {
    /*TODO change photo*/
    background-image: url("../img/carousel/vloer_in_opbouw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(3) {
    background-image: url("../img/carousel/gereedschap_overzicht.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

/*Caption*/

main {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

p {
    font-weight: 300;
}

.blockquote {
    font-weight: 300;
    text-align: center;
}

.flex-center {
    color: #fff;
}

.bd-title+p{
    font-size: 1.25em;
    font-weight: 300;
}

.p-bd-title {
    font-size: 1.25em;
    font-weight: 300;
}

.bd-content>h2:not(:first-child) {
    margin-top: 3rem;
}

.bd-toc-link {
    display: block;
    padding: .25rem .75rem;
    color: #55595c;
}

form label {
    font-size: 1rem;
}

/* Layout */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.pages {
    margin-top: 50px;
}

.extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

#maps .fa {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.card-success {
    background: url("/img/card/wood-card.jpg");
}

#freeTextDiensten {
    height: 100px;
}

.flex {
    padding: .5vw;
    font-size: 0;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
}

.flex div {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 200px;
    margin: .5vw;
}

.flex div img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 400px) {
    .flex div { margin: 0; }
    .flex { padding: 0; }
}

.scrollable {

}