/* TEMPLATE STYLES */

/* Necessary for full page carousel*/

html,
body {
    height: 100%;
}

/* Navigation*/

.navbar-carousel {
    background-color: transparent;
}

.navbar-pages {
    background-color: #d32f2f;
}

.top-nav-collapse {
    background-color: #d32f2f;
}

footer.page-footer {
    background-color: #d32f2f;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #d32f2f;
    }
}

/* Carousel*/

.carousel {
    height: 50%;
}

@media (max-width: 776px) {
    .carousel {
        height: 100%;
    }
}

.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item:nth-child(1) {
    background-image: url("../img/carousel/mikmak.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
}

.carousel-item:nth-child(2) {
    background-image: url("../img/carousel/tang.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(3) {
    background-image: url("../img/carousel/gereedschap_overzicht.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

/*Caption*/

main {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

p {
    font-weight: 300;
}

.blockquote {
    font-weight: 300;
    text-align: center;
}

.flex-center {
    color: #fff;
}

.bd-title+p{
    font-size: 1.25em;
    font-weight: 300;
}

.bd-content>h2:not(:first-child) {
    margin-top: 3rem;
}

.bd-toc-link {
    display: block;
    padding: .25rem .75rem;
    color: #55595c;
}

/* Layout */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.pages {
    margin-top: 50px;
}

.extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

#maps .fa {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
