include ../cards/mixins/checkbox

form(action='http://www.easybird.be/klusbus' method='POST')
    fieldset.form-group
        .row
            .col-md-4
                h3 Huis
                +checkbox("Algemene schrijnwerkerij")
                +checkbox("Kleine elektriciteitswerken")
                +checkbox("Isolatiewerken")
                +checkbox("Kleine schilderwerken")
                +checkbox("Voegwerken")
                +checkbox("Herstellen van lekkende kranen en andere sanitaire problemen")
                +checkbox("Plaatsen en isoleren van wanden en plafonds")
                +checkbox("Leggen van laminaat- of parketvloeren")
                +checkbox("Monteren van meubelen, douches en keukens")
                +checkbox("Betegelen van kleine oppervlaktes")
                +checkbox("Klemmende deuren")
            .col-md-4
                h3 Tuin
                +checkbox("Maaien van gazons")
                +checkbox("Snoeien van hagen, bomen en struiken")
                +checkbox("Herstellingen aan opritten, gevels en daken")
                +checkbox("Verwijderen van kleine bomen en struiken")
                +checkbox("Uitkuisen van dakgoten")
                +checkbox("Afbraakwerken")
                +checkbox("Plaatsen van tuinhuizen")
            .col-md-4
                h3 Diensten
                +checkbox("Verhuizen")
                +checkbox("Fietsherstellingen")
                +checkbox("Afbraakwerken")
                +checkbox("Op reis? Iemand nodig die je planten en dier verzorgt?")
                +checkbox("Advies - we verwijzen je graag door naar juiste vakman")
                +checkbox("Klaarzetten van feesten (opzetten van tenten en dergelijke)")
                +checkbox("Onderhoud van je bedrijfsterrein, school of kantoor")
        .row
            .col-md-8
                label(for='freeTextDiensten')
                    h3 Iets anders?
                textarea#freeTextDiensten.form-control(rows='5', name='freeText')
            .col-md-4
                h3 Onder welke formule?
                +checkbox("Lekker gemakkelijk: de klusbus doet alles", "formule")
                +checkbox("Samen klussen: we klussen samen", "formule")
                +checkbox("Professioneel advies: zodat je zelf aan de slag kunt", "formule")
        .row
            h3 Hoe wil je gecontacteerd worden?
            .col-md-3
                .radio
                    label
                        input#optionsRadios1(type='radio', name='contactPreference', value='email')
                        p Via email
            .col-md-3
                .radio
                    label
                        input#optionsRadios2(type='radio', name='contactPreference', value='telefoon', checked='')
                        p Via telefoon
        .row
            br
            .col-md-3
                label(for='inputEmail') Email:
                    input#inputEmail.form-control(type='email', placeholder='Vul email in', name='email')
                    small.text-muted Wij zullen je email met niemand delen.
            .col-md-3
                label(for='inputPhone') Telefoon:
                    input#inputPhone.form-control(type='tel', placeholder='Vul telefoonnummer in', name='phone')
                    small.text-muted Wij zullen dit nummer met niemand delen.
    button.btn.btn-default.btn-lg.waves-effect.waves-light(type='submit') Verstuur formulier
