extends ../pages-main.pug

block pages-content
    .divider-new
        h2.h2-responsive.wow.fadeInUp Ons doel
    p Wij willen dat mensen zich geholpen voelen, jullie gelukkig, wij gelukkig.
    .divider-new
        h2.h2-responsive.wow.fadeInUp Over de klusbus
    p Hier komt een foto van Gijs en zijn gezin ;-)
    .divider-new
        h2.h2-responsive.wow.fadeInUp Waar slaapt de klusbus?
    include ../../features/maps.pug