extends ../pages-main.pug

block pages-content
    .wie-zijn-wij
        .divider-new#about
            h2.h2-responsive.wow.fadeInUp Over de klusbus
        .row
            .col-md-10
                p Wij helpen graag.
                p Gijs begon zijn carrière als opvoeder. Dit vanuit een overtuiging en passie voor het helpen van mensen. Hij combineerde zijn job als opvoeder gedurende een hele tijd met het bouwen, verbouwen, klussen en tuinieren.
                p In 2016 besloot Gijs om zijn passies voor klussen en tuinieren te combineren met zijn wens om mensen te helpen.
                p Het concept voor de Klusbus kreeg stilaan vorm.
            .col-md-2
                .view.overlay.hm-white-light
                    img.img-rounded.img-fluid(src="img/card/gijs_bezig.jpg")
                    .mask
        .row
            div.blockquote
                | De klusbus is content, als zijn klant goed geholpen is.
        .divider-new#locatie
            h2.h2-responsive.wow.fadeInUp Waar slaapt de klusbus?
        include ../../features/maps.pug