extends ../pages-main.pug

block pages-content
    .wie-zijn-wij
        .divider-new
            h2.h2-responsive.wow.fadeInUp Ons doel
        p Wij helpen graag.
        p Gijs begon zijn professioneel leven als opvoeder. Dit vanuit een overtuiging en passie voor het helpen van mensen. Nu probeert hij zijn passies voor  het klussen en tuinieren te combineren met het helpen van mensen.
        div.
        div.blockquote
            | De klusbus is content, als zijn klant goed geholpen is.
        .divider-new
            h2.h2-responsive.wow.fadeInUp Over de klusbus
        p Gijs merkte doorheen de jaren dat klussen en tuinieren zijn grote passies waren. Hij combineerde zijn job als opvoeder gedurende een hele tijd met zijn passies als klusser en tuinier, om in 2016 de sprong te wagen tot voltijds "klusbusser".
        //TODO foto gijs en gezion
        p *Hier komt een foto van Gijs en zijn gezin*
        .divider-new
            h2.h2-responsive.wow.fadeInUp Waar slaapt de klusbus?
        include ../../features/maps.pug