extends ../../layout/layout.pug

block header
    include ../../layout/header/pages.pug

block title
    | De klusbus - Wie zijn we?
block description
    meta(name='description' content='Grote of kleine klusjes, de handigheid van de klusbus komt overal van pas: Tielt, Roeselare, Kortrijk, Brugge. Kortom, West-Vlaanderen en omstreken, overal helpen we graag een handje.')

block content
    br
    .container
        include ./content.pug