extends ../pages-main

block pages-content
    .row
        .divider-new
            h1.h1-responsive.wow.fadeInUp Bedankt
        p
            | Bedankt om ons te contacteren. Wij behandelen uw aanvraag en laten u zo snel mogelijk iets weten