extends ../pages-main

block pages-content
    .row
        .col-md-7
            .view.overlay.hm-white-light.z-depth-1-half
                img.img-fluid(src="img/card/de_klusbus.JPG")
                .mask
        .col-md-5
            h2.h2-responsive De Klusbus gaat en staat waar jij hem wil.
            hr
            p Is er een herstelling waar jij tegen opziet? Eentje waarvoor je geen tijd hebt of weinig verstand van hebt?
            p Heb je een extra paar handen nodig, of gewoon wat advies?
            p Geen probleem, de klusbus kan jou hierbij helpen.
            a.btn.btn-danger(href="boek-de-bus.html") Boek de bus
    .row
        .divider-new
            h1.h1-responsive.wow.fadeInUp Wat doet de Klusbus?
        p.p-bd-title  Huis, tuin en diensten. De klusbus kan heel wat.
        br
        .card-deck-wrapper
            .card-deck
                .card
                    include ../../cards/huis.pug
                .card
                    include ../../cards/tuin.pug
                .card
                    include ../../cards/diensten.pug
    .row
        .divider-new
            h1.h1-responsive.wow.fadeInUp Formules
        p.p-bd-title De klusbus werkt onder verschillende formules.
        br
    .row
        .card-columns
            .card.card-block.card-success.text-xs-center
                blockquote.card-blockquote
                    h4.card-title De klus wordt voor jou uitgevoerd van A tot Z
                    p.card-text Wil jij graag je klusjes uitbesteden zonder zelf iets te moeten doen?
                    p.card-text Geen probleem, de klusbus komt naar jou en voert de werken die jij verwacht zelfstandig uit.
            .card.card-block.card-success.text-xs-center
                blockquote.card-blockquote
                    h4.card-title Professioneel advies, zodat je zelf aan de slag kunt
                    p.card-text Weet je niet goed waar te beginnen? Ben je op zoek naar hulp?
                    p.card-text Bel de klusbus en we helpen je op weg.
            .card.card-block.card-success.text-xs-center
                blockquote.card-blockquote
                    h4.card-title We klaren de klus tesamen
                    p.card-text Wil je graag wat bijleren zodat je het de volgende keer zelf kunt?
                    p.card-text We klussen tesamen met de focus op een goeie aanpak zodat jij wat bijleert en we tegelijk je klus aanpakken.
