extends ../../layout/layout.pug

block header
    include ../../layout/header/pages.pug

block title
    | De klusbus - Wat doen we?
block description
    meta(name='description' content='De Klusbus gaat en staat waar jij hem wil. Tielt, Roeselare, Kortrijk, Brugge. Kortom, West-Vlaanderen en omstreken, overal helpen we graag een handje.')

block content
    br
    .container
        include ./content.pug