footer.page-footer.center-on-small-only
    // Footer Links
    .container-fluid
        .row
            // First column
            .col-md-3.col-md-offset-1
                h5.title OVER DE KLUSBUAR
                p Hier komt er wat tekst over gijs en waarom de klusbus.
                p Hier komt er wat tekst over gijs en waarom de klusbus.
            // /.First column
            hr.hidden-md-up
            // Second column
            .col-md-2.col-md-offset-1
                h5.title First column
                ul
                    li
                        a(href='#!') Link 1
                    li
                        a(href='#!') Link 2
                    li
                        a(href='#!') Link 3
                    li
                        a(href='#!') Link 4
            // /.Second column
            hr.hidden-md-up
            // Third column
            .col-md-2
                h5.title Second column
                ul
                    li
                        a(href='#!') Link 1
                    li
                        a(href='#!') Link 2
                    li
                        a(href='#!') Link 3
                    li
                        a(href='#!') Link 4
            // /.Third column
            hr.hidden-md-up
            // Fourth column
            .col-md-2
                h5.title Third column
                ul
                    li
                        a(href='#!') Link 1
                    li
                        a(href='#!') Link 2
                    li
                        a(href='#!') Link 3
                    li
                        a(href='#!') Link 4
            // /.Fourth column
    // /.Footer Links
    hr
    // Copyright
    .footer-copyright
        .container-fluid
            | © 2016 Copyright:
            a(target='_blank', href='http://www.easybird.be')  Easybird.be
    // /.Copyright
