footer.page-footer.center-on-small-only
    // Footer Links
    .container-fluid
        .row
            // First column
            .col-md-3.col-md-offset-1
                h5.title OVER DE KLUSBUS
                p Hier komt er wat tekst over gijs en waarom de klusbus.
                p Hier komt er wat tekst over gijs en waarom de klusbus.
            // /.First column
            hr.hidden-md-up
            // Second column
            .col-md-2.col-md-offset-1
                h5.title Wie zijn we?
                ul
                    li
                        a(href='#!') Het concept
                    li
                        a(href='#!') De firma
            // /.Second column
            hr.hidden-md-up
            // Third column
            .col-md-2
                h5.title Wat doen we?
                ul
                    li
                        a(href='klushulp.html') Klushulp
                    li
                        a(href='verhuizen.html') Verhuizen
                    li
                        a(href='vakantie.html') Zorgeloze vakantie
                    li
                        a(href='sloopwerken.html') Sloopwerken
                    li
                        a(href='tuin.html') Tuin
                    li
                        a(href='fiets.html') Fiets
            // /.Third column
            hr.hidden-md-up
            // Fourth column
            .col-md-2
                h5.title Meer weten?
                ul
                    li
                        a(href='#!') Boek ons
                    li
                        a(href='#!') Hulp nodig?
                    li
                        a(href='#!') Contacteer ons
                    li
                        a(href='#!') Prijzen
            // /.Fourth column
    // /.Footer Links
    hr
    // Copyright
    .footer-copyright
        .container-fluid
            | © 2016 Copyright:
            a(target='_blank', href='http://www.easybird.be')  Easybird.be
    // /.Copyright
