.view.overlay.hm-white-slight
    img.img-fluid(src='img/card/de_klusbus.JPG', alt='')
    a(href='#')
        .mask
.card-block
    h4.card-title Advies
    p.card-text Weet je niet goed waar te beginnen? Of wie jou kan helpen?
    p.card-text Bel de klusbus en we helpen je zelf op weg of verwijzen je door naar de juiste vakman.