// Card image
.view.overlay.hm-white-slight
    //img.img-fluid(src='img/card/bloem.gif', alt='')
    img.img-fluid(src='img/card/klusbus.jpg', alt='')
    a(href='diensten.html')
        .mask
// /.Card image
// Card content
.card-block
    // Title
    h4.card-title Diensten
    // Text
    p.card-text
        | Verhuizen, op- en afhalen van goederen, en nog veel meer ..
    p.card-text
        | De klusbus en zijn aanhangwagen helpen je graag verder.
    a.btn.btn-danger(href='diensten.html') Wij kunnen helpen
// /.Card content