// Card image
.view.overlay.hm-white-slight
    img.img-fluid(src='img/card/huis.jpg', alt='')
    a(href='#')
        .mask
// /.Card image
// Card content
.card-block
    // Title
    h4.card-title Huis
    // Text
    p.card-text
        | Vele kleine klusjes of één grotere klus?
    br
    p.card-text
        | De klusbus staat paraat om je huis weer op te knappen.
    a.btn.btn-danger(href='huis.html') Welke klusjes?
// /.Card content
