// Card image
.view.overlay.hm-white-slight
    img.img-fluid(src='img/card/de_klusbus.JPG', alt='')
    a(href='#')
        .mask
// /.Card image
// Card content
.card-block
    // Title
    h4.card-title Lekker gemakkelijk
    // Text
    p.card-text
        | Wil jij graag gewoon jouw klusjes uitbesteden zonder zelf iets te moeten doen? Geen probleem, de klusbus staat voor jou paraat.
    a.btn.btn-danger(href='#') Ontdek meer
// /.Card content
