.view.overlay.hm-white-slight
    img.img-fluid(src='img/card/de_klusbus.JPG', alt='')
    a(href='#')
        .mask
.card-block
    h4.card-title Lekker gemakkelijk
    p.card-text Wil jij graag gewoon jouw klusjes uitbesteden zonder zelf iets te moeten doen?
    p.card-text Geen probleem, de klusbus komt naar jou en voert de werken die jij van hem verwacht autonoom uit.