.view.overlay.hm-white-slight
    img.img-fluid(src='img/card/de_klusbus.JPG', alt='')
    a(href='#')
        .mask
.card-block
    h4.card-title Samen klussen
    p.card-text Wil je graag wat bijleren om het de volgende keer zelf te kunnen doen?
    p.card-text We kunnen samen klussen met de focus op een goeie aanpak zodat jij wat bijleert en we tegelijk jouw probleem aanpakken.