// Card image
.view.overlay.hm-white-slight
    img.img-fluid(src='img/card/tuin.jpg', alt='')
    a(href='/tuin.html')
        .mask
// /.Card image
// Card content
.card-block
    // Title
    h4.card-title Tuin
    // Text
    p.card-text
        | Heeft jouw haag, boom of oprit nood aan onderhoud of kleine veranderingen?
    p.card-text
        | De klusbus komt graag langs om jou te helpen.
    a.btn.btn-danger(href='tuin.html') Meer over tuin
// /.Card content
