// Card image
.view.overlay.hm-white-slight
    //img.img-fluid(src='img/card/bloem.gif', alt='')
    img.img-fluid(src='img/card/de_klusbus.JPG', alt='')
    a(href='#')
        .mask
// /.Card image
// Card content
.card-block
    // Title
    h4.card-title Zorgeloze vakantie
    // Text
    p.card-text Zorgeloos op vakantie, de klusbus zorgt voor jouw huis en tuin!
    a.btn.btn-danger(href='#') Ontdek meer
// /.Card content