// Card image
.view.overlay.hm-white-slight
    img.img-fluid(src='img/card/bloem.gif', alt='')
    a(href='#')
        .mask
// /.Card image
// Card content
.card-block
    // Title
    h4.card-title Verhuizen
    // Text
    p.card-text
        | Mijn handen en hulp kunnen samen met mijn remorque en camionette helpen met jouw verhuis.
    a.btn.btn-danger(href='#') Ontdek meer
// /.Card content