extends ../pages-main

block pages-content
    .row
        .divider-new
            h1.h1-responsive.wow.fadeInUp Contacteer ons
        p
            | Eén klus per keer of gaan we voor een algemene opknapbeurt? Het kan allemaal.

        p Doe hieronder een offerte aanvraag, of bel/mail ons met jouw wensen.
        p Telefoonnummer: + 32 491 73 75 22
        p Email:
            a(href="mailto:gijs@deklusbus.org") gijs@deklusbus.org

        .divider-new
            h2.h2-responsive.wow.fadeInUp Offerte aanvraag
        p Duid hieronder aan waarvoor je de Klusbus wil inschakelen, en wij nemen contact met je op.
        p
            | Aarzel niet om ons te contacteren indien je klus niet in deze lijst staat.

        include ../../features/form.pug