.pages
    .container

        div.row
            div.col-md-7
                div.view.overlay.hm-white-light.z-depth-1-half
                    img.img-fluid(src="img/card/de_klusbus.JPG")
                    div.mask
            div.col-md-5
                h2.h2-responsive Boek de bus.
                hr

        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
    .container-fluid
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina
        p Dit is de boek de bus pagina