extends ../../layout/layout.pug

block header
    include ../../layout/header/pages.pug

block title
    | Boek de klusbus
block description
    meta(name='description' content='Boek de klusbus voor klusjes in Tielt, Roeselare, Kortrijk, Brugge en omstreken')

block content
    br
    .container
        include ./content.pug