.container
    .row
        // First columnn
        .col-xs-12.col-md-4
            // Card
            .card
                include ../../cards/klushulp.pug
            // /.Card
        // First columnn
        // Second columnn
        .col-xs-12.col-md-4
            // Card
            .card
                include ../../cards/samen-klussen.pug
            // /.Card
        // Second columnn
        // Third columnn
        .col-xs-12.col-md-4
            // Card
            .card
                include ../../cards/vakantie.pug
            // /.Card
        // Third columnn