.container
    .row.row-eq-height
        // First columnn
        .col-md-6.col-lg-3
            // Card
            .card
                include ./cards/klushulp.pug
            // /.Card
        // First columnn
        // Second columnn
        .col-md-6.col-lg-3
            // Card
            .card
                include ./cards/verhuizen.pug
            // /.Card
        // Second columnn
        // Third columnn
        .col-md-6.col-lg-3
            // Card
            .card
                include ./cards/vakantie.pug
            // /.Card
        // Third columnn
        // Forth columnn
        .col-md-6.col-lg-3
            // Card
            .card
                include ./cards/sloopwerken.pug
            // /.Card
        // Forth columnn
