.container
    .row.row-eq-height
        // First columnn
        .col-md-6.col-lg-3
            // Card
            .card
                // Card image
                .view.overlay.hm-white-slight
                    img.img-fluid(src='img/test/1.gif', alt='')
                    a(href='#')
                        .mask
                // /.Card image
                // Card content
                .card-block
                    // Title
                    h4.card-title Hulp bij het klussen!!
                    // Text
                    p.card-text
                        | Wil je graag wat bijleren om het de volgende keer zelf te kunnen doen? We kunnen samen klussen met de focus op een goeie aanpak.
                    a.btn.btn-danger(href='#') Ontdek meer
                // /.Card content
            // /.Card
        // First columnn
        // Second columnn
        .col-md-6.col-lg-3
            // Card
            .card
                // Card image
                .view.overlay.hm-white-slight
                    img.img-fluid(src='img/test/1.gif', alt='')
                    a(href='#')
                        .mask
                // /.Card image
                // Card content
                .card-block
                    // Title
                    h4.card-title Verhuizen
                    // Text
                    p.card-text
                        | Mijn handen en hulp kunnen samen met mijn remorque en camionette helpen met jouw verhuis.
                    a.btn.btn-danger(href='#') Ontdek meer
                // /.Card content
            // /.Card
        // Second columnn
        // Third columnn
        .col-md-6.col-lg-3
            // Card
            .card
                // Card image
                .view.overlay.hm-white-slight
                    img.img-fluid(src='img/test/1.gif', alt='')
                    a(href='#')
                        .mask
                // /.Card image
                // Card content
                .card-block
                    // Title
                    h4.card-title Zorgeloze vakantie
                    // Text
                    p.card-text Zorgeloos op vakantie, de klusbus zorgt voor jouw huis en tuin!
                    a.btn.btn-danger(href='#') Ontdek meer
                // /.Card content
            // /.Card
        // Third columnn
        // Forth columnn
        .col-md-6.col-lg-3
            // Card
            .card
                // Card image
                .view.overlay.hm-white-slight
                    img.img-fluid(src='img/test/1.gif', alt='')
                    a(href='#')
                        .mask
                // /.Card image
                // Card content
                .card-block
                    // Title
                    h4.card-title Sloopwerken
                    // Text
                    p.card-text
                        | Mankracht nodig bij de grove sloopwerken in je huis? De klusbus staat voor jouw paraat.
                    a.btn.btn-danger(href='#') Ontdek meer
                // /.Card content
            // /.Card
        // Forth columnn
