.container.scrollable
    .row
        .card-deck-wrapper
            .card-deck
                .card
                    include ../../cards/huis.pug
                .card
                    include ../../cards/tuin.pug
                .card
                    include ../../cards/diensten.pug