extends ../pages-main

block pages-content
    .row
        .col-md-7
            .view.overlay.hm-white-light.z-depth-1-half
                img.img-fluid(src="img/card/de_klusbus.JPG")
                .mask
        .col-md-5
            h2.h2-responsive Hulp nodig? Wij staan voor je klaar.
            hr
            p De klusbus gaat en staat waar jij hem wil.
            p Is er een herstelling waar jij tegen opziet? Eentje waarvoor je geen tijd hebt of gewoon nog onvoldoende kan?
            p Geen probleem, de klusbus kan jou hierbij wellicht komen helpen.
            a.btn.btn-danger(href="boek-de-bus.html") Boek mij

    hr.extra-margins

    // Second row
    .row
        // First columnn
        .col-md-4
            // Card
            .card
                // Card image
                .view.overlay.hm-white-slight
                    img.img-fluid(src='img/carousel/mikmak.JPG', alt='')
                    a(href='#')
                        .mask
                // /.Card image
                // Card content
                .card-block
                    // Title
                    h4.card-title Card title
                    // Text
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of the card's content.
                    a.btn.btn-primary(href='#') Read more
                // /.Card content
            // /.Card
        // First columnn
        // Second columnn
        .col-md-4
            // Card
            .card
                // Card image
                .view.overlay.hm-white-slight
                    img.img-fluid(src='http://mdbootstrap.com/images/regular/city/img%20(4).jpg', alt='')
                    a(href='#')
                        .mask
                // /.Card image
                // Card content
                .card-block
                    // Title
                    h4.card-title Card title
                    // Text
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of the card's content.
                    a.btn.btn-primary(href='#') Read more
                // /.Card content
            // /.Card
        // Second columnn
        // Third columnn
        .col-md-4
            // Card
            .card
                // Card image
                .view.overlay.hm-white-slight
                    img.img-fluid(src='http://mdbootstrap.com/images/regular/city/img%20(8).jpg', alt='')
                    a(href='#')
                        .mask
                // /.Card image
                // Card content
                .card-block
                    // Title
                    h4.card-title Card title
                    // Text
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of the card's content.
                    a.btn.btn-primary(href='#') Read more
                // /.Card content
            // /.Card
        // Third columnn
    // /.Second row
