extends ../pages-main
include ../../cards/mixins/blockquote

block pages-content
    .row
        .col-md-7
            .view.overlay.hm-white-light.z-depth-1-half
                img.img-fluid(src="img/card/de_klusbus.JPG")
                .mask
        .col-md-5
            h2.h2-responsive Kan je wel wat hulp gebruiken?
            hr
            p De klusbus houdt ervan om anderen te helpen.
            p Moet er iets opgehaald worden? Zoek je hulp bij een verhuis? Heb je afbraakwerken te doen? Of heb je gewoon een extra paar handen nodig?
            p De klusbus en zijn aanhangwagen helpen je graag verder.
            a.btn.btn-danger(href="boek-de-bus.html") Boek de bus

    hr.extra-margins

    // Second row
    .row
        .col-md-3.col-md-push-9.bd-sidebar
            div.hidden-sm-down
                .bd-sidebar
                    .bd-toc-item
                        p Wat doen we nog?
                    nav.bd-links
                        .bd-toc-item
                            a.bd-toc-link(href="huis.html")
                                | Huis
                        .bd-toc-item
                            a.bd-toc-link(href="tuin.html")
                                | Tuin
        .col-md-9.col-md-pull-3.bd-content
            h1.bd-title
                | Diensten
            p Hieronder een greep uit het aanbod. Staat jouw dienst er niet tussen? Aarzel niet om contact op te nemen.
            .card-columns
                +blockquote("Verhuizen")
                +blockquote("Fietsherstellingen")
                +blockquote("Afbraakwerken")
                +blockquote("Op reis? Iemand nodig die je planten en dier verzorgt?")
                +blockquote("Advies - we verwijzen je graag door naar juiste vakman")
                +blockquote("Klaarzetten van feesten (opzetten van tenten en dergelijke)")
                +blockquote("Onderhoud van je bedrijfsterrein, school of kantoor")
            p Doe een offerte-aanvraag of bel/mail ons met jouw wensen.
            a.btn.btn-danger(href="boek-de-bus.html") Boek de bus
    .row
        .col-md-3.col-md-push-9.bd-sidebar
            div.hidden-md-up
                hr
                .bd-toc-item
                    p Wat doen we nog?
                .bd-sidebar
                    nav.bd-links
                        .bd-toc-item
                            a.bd-toc-link(href="huis.html")
                                | Huis
                        .bd-toc-item
                            a.bd-toc-link(href="tuin.html")
                                | Tuin