extends ../../layout/layout.pug

block header
    include ../../layout/header/pages.pug

block title
    | De klusbus - Kan je wel wat hulp gebruiken?
block description
    meta(name='description' content='Moet er iets opgehaald worden? Zoek je hulp bij een verhuis? Heb je afbraakwerken te doen? Of heb je gewoon een extra paar handen nodig? De klusbus en zijn aanhangwagen helpen je graag verder.')

block content
    br
    .container
        include ./content.pug