// Collapse button
button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#collapseEx')
    i.fa.fa-bars
.container
    // Collapse content
    #collapseEx.collapse.navbar-toggleable-xs
        // Navbar Brand
        a.navbar-brand(href='index.html') Home
        // Links
        ul.nav.navbar-nav
            //li.nav-item.active
            //    a.nav-link(href='#')
            //        | Home
            //        span.sr-only (current)
            li.nav-item
                a.nav-link(href='wie-zijn-wij.html') Wie is de Klusbus?
            li.nav-item
                a.nav-link(href='wat-doen-we.html') Wat doet de Klusbus?
            li.nav-item
                a.nav-link(href='boek-de-bus.html') Boek de bus
    // /.Collapse content