// Card image
.view.overlay.hm-white-slight
    img.img-fluid(src='img/card/tang.JPG', alt='')
    a(href='#')
        .mask
// /.Card image
// Card content
.card-block
    // Title
    h4.card-title Hulp bij het klussen
    // Text
    p.card-text
        | Wil je graag wat bijleren om het de volgende keer zelf te kunnen doen? We kunnen samen klussen met de focus op een goeie aanpak.
    a.btn.btn-danger(href='#') Ontdek meer
// /.Card content
