// Card image
.view.overlay.hm-white-slight
    img.img-fluid(src='img/test/bloem.gif', alt='')
    a(href='#')
        .mask
// /.Card image
// Card content
.card-block
    // Title
    h4.card-title Sloopwerken
    // Text
    p.card-text
        | Mankracht nodig bij de grove sloopwerken in je huis? De klusbus staat voor jouw paraat.
    a.btn.btn-danger(href='#') Ontdek meer
// /.Card content