extends ../pages-main

block pages-content
    .row
        .col-md-7
            .view.overlay.hm-white-light.z-depth-1-half
                img.img-fluid(src="img/card/tang.JPG")
                .mask
        .col-md-5
            h2.h2-responsive Vragen staat vrij
            hr
            p De meest gestelde vragen aan de klusbus vind je hier.
            a.btn.btn-danger(href="boek-de-bus") Boek de bus

    hr.extra-margins

    // Second row
    .row
        .col-md-3.col-md-push-9.bd-sidebar
            div.hidden-sm-down
                .bd-toc-item
                    p Wat doen we?
                .bd-sidebar
                    nav.bd-links
                        .bd-toc-item
                            a.bd-toc-link(href="huis")
                                | Huis
                        .bd-toc-item
                            a.bd-toc-link(href="tuin")
                                | Tuin
                        .bd-toc-item
                            a.bd-toc-link(href="diensten")
                                | Diensten
        .col-md-9.col-md-pull-3.bd-content
            h1.bd-title
                | Vragen staat vrij
            p Nog vragen? Hier staat misschien wel wat je wil weten. Zoniet, aarzel niet om ons te contacteren

            h2 Wat is onze prijs?
            p We hadden graag onze prijzen op de website gezet, maar aangezien er te veel factoren spelen voor onze prijszetting, kunnen we dit helaas niet doen.
            p Stuur ons vrijblijvend een boek-ons formuliertje op en wij maken voor jou graag een prijsje.
            a.btn.btn-danger(href="boek-de-bus") Boek de bus

            h2 Waar rijdt de klusbus heen?
            p De klusbus is mobiel, zoals de naam het zegt!
            p Stuur ons vrijblijvend een boek-ons formuliertje op en wij maken voor jou graag een prijsje.
            a.btn.btn-danger(href="boek-de-bus") Boek de bus
    .row
        .col-md-3.col-md-push-9.bd-sidebar
            div.hidden-md-up
                hr
                .bd-toc-item
                    p Wat doen we?
                .bd-sidebar
                    nav.bd-links
                        .bd-toc-item
                            a.bd-toc-link(href="huis")
                                | Huis
                        .bd-toc-item
                            a.bd-toc-link(href="tuin")
                                | Tuin
                        .bd-toc-item
                            a.bd-toc-link(href="diensten")
                                | Diensten