extends ../pages-main
include ../../cards/mixins/blockquote

block pages-content
    .row
        .col-md-7
            .view.overlay.hm-white-light.z-depth-1-half
                img.img-fluid(src="img/card/tuin_big.jpg")
                .mask
        .col-md-5
            h2.h2-responsive Mag ik je tuin opknappen?
            hr
            p Mag ik je tuin opknappen? Heeft jouw haag, boom of oprit nood aan onderhoud of kleine veranderingen?
            p Zijn er buiten opknapwerken te verrichten?
            p De klusbus en zijn aanhangwagen helpen je graag verder.
            a.btn.btn-danger(href="boek-de-bus") Boek de bus

    hr.extra-margins

    // Second row
    .row
        .col-md-3.col-md-push-9.bd-sidebar
            div.hidden-sm-down
                .bd-sidebar
                    .bd-toc-item
                        p Wat doen we nog?
                    nav.bd-links
                        .bd-toc-item
                            a.bd-toc-link(href="huis")
                                | Huis
                        .bd-toc-item
                            a.bd-toc-link(href="diensten")
                                | Diensten
        .col-md-9.col-md-pull-3.bd-content
            h1.bd-title
                | Tuin
            p De tuin is één van mijn lievelingsplekjes.
            p Hieronder een greep uit het aanbod klusjes in de tuin. Staat jouw klus er niet tussen? Aarzel niet om contact op te nemen.
            .card-columns
                +blockquote("Maaien van gazons")
                +blockquote("Snoeien van hagen, bomen en struiken")
                +blockquote("Herstellingen aan opritten, gevels en daken")
                +blockquote("Verwijderen van kleine bomen en struiken")
                +blockquote("Uitkuisen van dakgoten")
                +blockquote("Afbraakwerken")
                +blockquote("Plaatsen van tuinhuizen")
            p Doe een offerte-aanvraag of bel/mail ons met jouw wensen.
            a.btn.btn-danger(href="boek-de-bus") Boek de bus
    .row
        .col-md-3.col-md-push-9.bd-sidebar
            div.hidden-md-up
                hr
                .bd-toc-item
                    p Wat doen we nog?
                .bd-sidebar
                    nav.bd-links
                        .bd-toc-item
                            a.bd-toc-link(href="huis")
                                | Huis
                        .bd-toc-item
                            a.bd-toc-link(href="diensten")
                                | Diensten