extends ../pages-main
include ../../cards/mixins/blockquote

block pages-content
    .row
        .col-md-7
            .view.overlay.hm-white-light.z-depth-1-half
                img.img-fluid(src="img/card/tuin_big.jpg")
                .mask
        .col-md-5
            h2.h2-responsive Mag ik je tuin opknappen?
            hr
            p Heeft jouw haag, boom of oprit nood aan onderhoud of kleine veranderingen?
            p Zijn er buiten opknapwerken te verrichten?
            p De klusbus en zijn remorque helpen je graag verder.
            a.btn.btn-danger(href="boek-de-bus.html") Boek de bus

    hr.extra-margins

    // Second row
    .row
        .col-md-3.col-md-push-9.bd-sidebar
            div.hidden-sm-down
                .bd-sidebar
                    .bd-toc-item
                        p Wat doen we nog?
                    nav.bd-links
                        .bd-toc-item
                            a.bd-toc-link(href="/huis.html")
                                | Huis
                        .bd-toc-item
                            a.bd-toc-link(href="/diensten.html")
                                | Diensten
        .col-md-9.col-md-pull-3.bd-content
            h1.bd-title
                | Tuin
            p De tuin is één van mijn lievelingsplekjes. Als we bij jou in de tuin mogen werken, wordt dit zeker een win-win.
            h2 Wat doen we?
            p Hieronder een greep uit het aanbod. Staat jouw klus er niet tussen? Geen probleem, wij helpen graag waar we kunnen.
            .card-columns
                +blockquote("Maaien van gazons")
                +blockquote("Snoeiwerken van hagen, bomen en struiken")
                +blockquote("Herstellingen aan opritten en gevels")
                +blockquote("Verwijderen van kleine bomen")
                +blockquote("Fietsherstellingen")
                +blockquote("Uitkuisen van dakgoten")
                +blockquote("Kleine afbraakwerken")
                +blockquote("Klaarzetten van feesten (tenten en dergelijke)")
            h2 Onze aanpak
            p Eén klus per keer, of gaan we voor een algemene herstellings- en/of opknapbeurt? Het kan allemaal.
            a.btn.btn-danger(href="boek-de-bus.html") Boek de bus
    .row
        .col-md-3.col-md-push-9.bd-sidebar
            div.hidden-md-up
                hr
                .bd-toc-item
                    p Wat doen we nog?
                .bd-sidebar
                    nav.bd-links
                        .bd-toc-item
                            a.bd-toc-link(href="/huis.html")
                                | Huis
                        .bd-toc-item
                            a.bd-toc-link(href="/diensten.html")
                                | Diensten