extends ../../layout/layout.pug

block header
    include ../../layout/header/pages.pug

block title
    | De klusbus - Mag ik je tuin opknappen?
block description
    meta(name='description' content='Mag ik je tuin opknappen? Heeft jouw haag, boom of oprit nood aan onderhoud of kleine veranderingen? Zijn er buiten opknapwerken te verrichten? De klusbus en zijn aanhangwagen helpen je graag verder.')

block content
    br
    .container
        include ./content.pug