extends ../../layout/layout.pug

block header
    include ../../layout/header/pages.pug

block title
    | De klusbus - Hulp nodig in huis?
block description
    meta(name='description' content='De klusbus gaat en staat waar jij hem wil. Zijn er herstellingen waar jij tegen opziet? Of klusjes waarvoor je geen tijd hebt? Grote of kleine klusjes, de handigheid van de klusbus komt overal van pas.')

block content
    br
    .container
        include ./content.pug